@import "tailwindcss";

@theme {
  --color-primary-blue: #1d4ed8;
  --color-accent-orange: #ea580c;
  --color-light-bg: #ffffff;
  --color-text-dark: #1e293b;
  --color-text-muted: #64748b;
}

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, Arial, Helvetica, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /*change BlinkMacSystemFont to another font cause not everyone has a mac laptop*/
}

/* Base structural styles */
@layer utilities {
  .pill-shape {
    @apply rounded-full;
  }
}